.nav-bar {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar a {
    text-decoration: none;
    margin-right: 30px;
    color: white;
    font-weight: bold;
}