.nav-bar {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar a {
    margin-right: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-bar a:hover {
    color: red;
    cursor: pointer;
}