.dashboard-container {
    display: flex;
    justify-content: space-evenly;
}

.dashboard-container div {
    text-align: center;
}

@media screen and (max-width:850px) {
    .dashboard-container {
        flex-direction: column;
    }

    .dashboard-container div {
        margin: 0 auto;
    }
}